<mat-toolbar color="primary">

  <!-- Pic -->

  <mat-form-field>
    <mat-select [(ngModel)]="userService.loggedInUser">
      <mat-option *ngFor="let user of userService.users" [value]="user">
        {{user.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Button "Show Profile" -->

  <span class="example-fill-remaining-space"></span>

  <span>Angemeldet ist gerade: {{userService.loggedInUser.name}} {{userService.loggedInUser.lastname}} </span>
</mat-toolbar>


<mat-drawer-container class="example-container" style="left: 20px">
  <mat-drawer #drawer class="example-sidenav" mode="side">

    <mat-accordion>

      <h2>Users</h2>

      <mat-expansion-panel *ngFor="let user of userService.users">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{user.name}}
          </mat-panel-title>
          <!--<mat-panel-description>
            "UNSICHTBAR" {{panelOpenState ? 'open' : 'closed'}}
          </mat-panel-description>-->
        </mat-expansion-panel-header>

        <p>{{user.lastname}}</p>
        <p>{{user.age}}</p>
        <p>{{user.posts.length}}</p>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-drawer>

  <div class="example-sidenav-content">

    <button type="button" mat-button (click)="drawer.toggle()">
      Show users
    </button>
  </div>


  <app-timeline [timeLine]="timeLineService.timeLine">

    <!-- Da passiert irgendwas -->

  </app-timeline>

</mat-drawer-container>
